#logo {
	margin-top: 15px;
}

#banner {
	padding-bottom: 0;
	margin-bottom: 10px;
}
.well {
	background-color: #FAFAFA;
	padding: 5px;
	margin: 0;
}

.well h4 {
	margin-bottom: 5px;
}
.well .thumb {
	float: left; margin-right: 15px;
}

.well .thumb img {
	border: 1px solid #CCC; border-radius: 4px;
	width: 65px;
}
